﻿@using Microsoft.AspNetCore.Identity
@using FilmsCatalog.Domain.Aggregates.UserEntities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span  class="nav-link text-dark">Привет, @User.Identity.Name!</span>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignIn">Вход</a>
    </li>
}
</ul>
