@model FilmsCatalog.Domain.Models.Dtos.FilmDtos.FilmDto
@{
    ViewData["Title"] = "Создание фильма";
}

<h2>Добавление фильма</h2>

<form asp-controller="Film" asp-action="CreateFilm"  method="post" enctype="multipart/form-data" style="margin-top: 2em;">
    <div class="form-row">
        <div class="form-group col-md-5 col-sm-6 col-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 col-sm-6 col-12">
            <label asp-for="Description"></label>
            <textarea class="form-control" name="Description" rows="5"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 col-sm-6 col-12">
            <label asp-for="Producer"></label>
            <input asp-for="Producer" class="form-control">
        </div>
    </div>
    <div class="form-row">
       <div class="form-group col-md-5 col-sm-6 col-12">
           <label asp-for="ReleaseYear"></label>
           <input class="form-control" name="ReleaseYear" type="number" rows="2">
           <span asp-validation-for="ReleaseYear" class="text-danger"></span>
       </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 col-sm-6 col-12">
            <label asp-for="@Model.PosterImage"></label>
            <input type="file" class="form-control-file" name="PosterImage">
        </div>
    </div>
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    </div>
</form>