@model List<FilmsCatalog.Domain.Models.Dtos.FilmDtos.FilmDto>
@{
    ViewData["Title"] = "Фильмы";
}

@foreach (var film in Model)
{
    <div class="card mb-3">
        <img src="@film.PosterPath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@film.Name</h5>
            <p class="card-text">@film.Description</p>
            <p class="card-text">@film.Producer</p>
            <p class="card-text">@film.ReleaseYear</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
}